/*
    Page alignment and background
*/
.signUp-form {
    background: #fff;
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.signUp-form h1 {
    padding: 20px 35px 0 35px;
    font-weight: 100;
}

.signUp-form .content {
    padding: 35px;
    text-align: center;
}

/*
    User inputes (username, password)
*/
.signUp-form .input-field {
    padding: 12px 5px;
}

.signUp-form .input-field input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
}

.signUp-form .input-field label {
    font-size: 16px;
    display: block;
    text-align: left;
}

/* 
    Button
*/
.signUp-form .action {
    display: flex;
    flex-direction: row;
}

.signUp-form .action input {
    width: 100%;
    border: none;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
}

.signUp-form .action input:hover {
    background: #d8d8d8;
}

.error {
    color: red;
    display: block;
    text-align: left;
}
